.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "home"
                         "footer";
    font-family: "Noto Serif Display";
    color: white;
}

.header, .home, .footer {
    padding: 5px;
}

.header {
    background-color: #17322e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    height: 100px;
    margin: 0 10px;
    width: auto;
    opacity: 0.8;
}

.btn-group {
    display: flex;
    gap: 50px;
    margin: 0 10px;
}

.home-btn, .menu-btn, .location-btn, .contact-btn, .aboutus-btn {
    height: 40px;
    width: 120px;
    font-size: 22px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, #FFEE8E, #FFD700);
    cursor: pointer;
    font-family: "Noto Serif Display";
}

.home {
    background-color: #17322e;
    min-height: 300vh;
}

.title {
    text-align: center;
    font-weight: 450;
    margin-bottom: 50px;
    font-size: 45px;
}

.home-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "daily-special"
                         "menu"
                         "order"
                         "location";
    place-items: center;
    gap: 50px;
}

.section {
    width: 100%;
    height: 500px;
    overflow: hidden;
    font-family: "Noto Serif Display";
}

.daily-special {
    grid-area: daily-special;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (min-width: 1700px) {
    .daily-special {
        background-attachment: unset;
    }
}

.daily-special-image {
    width: 325px;
    height: auto;
    float: left;
    margin: 20px;
    margin-left: 50px;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.daily-special-text {
    font-weight: 450;
    backdrop-filter: blur(5px);
    margin-left: 378px;
}

.daily-special-menu {
    font-weight: 450;
    color: black;
    font-size: 70px;
    margin-right: 100px;
}

.menu {
    grid-area: menu;
    background: linear-gradient(90deg, #fb5c00, goldenrod);
}

.preview-menu {
    height: 470px;
    width: auto;
    opacity: 0.4;
    margin: 20px;
    margin-top: 10px;
    float: left;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: opacity 0.6s ease-in-out, border 0.6s ease-in-out, box-shadow 0.6s ease;
}

.preview-menu:hover {
    opacity: 0.9;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}

.menu-text {
    color: white;
    font-size: 30px;
}

.view-menu {
    height: 60px;
    width: 225px;
    font-size: 33px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #FFEE8E, #FFD700);
    cursor: pointer;
    font-family: "Noto Serif Display";
    margin-top: auto;
    margin-bottom: 40px;
}

.order {
    grid-area: order;
    background-image: url(./order-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.order-text {
    backdrop-filter: blur(5px);
    background: linear-gradient(90deg, black, darkgray);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.order-now {
    height: 60px;
    width: 225px;
    font-size: 33px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #FFEE8E, #FFD700);
    cursor: pointer;
    font-family: "Noto Serif Display";
    margin-left: 20px;
}

@media (max-width: 700px) {
    .daily-special, .order {
        background-attachment: unset;
    }
}

.location {
    grid-area: location;
    display: flex;
    background: linear-gradient(90deg, goldenrod, #fb5c00);
}

.map-location {
    height: 100%;
    width: 300%;
    float: left;
    z-index: 0;
}

.more-location {
    height: 60px;
    width: 225px;
    font-size: 33px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #FFEE8E, #FFD700);
    cursor: pointer;
    font-family: "Noto Serif Display";
    margin-top: 10px;
    margin-left: 20px;
}

.location-text {
    margin-left: 20px;
}

.more-location-link, .order-now-link, .view-menu-link, .home-btn-link, .menu-btn-link, .location-btn-link, .contact-btn-link, .aboutus-btn-link {
    all: unset;
}

.home-btn:hover, .menu-btn:hover, .location-btn:hover, .contact-btn:hover, .aboutus-btn:hover, .view-menu:hover, .order-now:hover, .more-location:hover {
    color: white;
}

.home-btn:active, .menu-btn:active, .location-btn:active, .contact-btn:active, .aboutus-btn:active, .view-menu:active, .order-now:active, .more-location:active {
    color: black;
}

.footer-page {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.footer-hta-naung-yeik {
    border-bottom: 1px solid white;
}

.footer-hta-naung-yeik, .footer-dev {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-text, .footer-dev-logo-text {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-logo {
    margin-left: 10px;
}

.footer-logo, .footer-dev-logo {
    width: 70px;
    height: auto;
}

.footer-text, .footer-dev-text {
    font-weight: 400;
}

.footer-links, .footer-dev-links {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.footer-about-us-link, .footer-contact-link {
    color: white;
}

.footer-dev-github {
    height: 70px;
    width: auto;
    opacity: 1;
}