.contact-page {
    background-color: #17322e;
    min-height: 200vh;
}

.contact-title {
    text-align: center;
    font-weight: 450;
    margin-bottom: 50px;
    font-size: 45px;
}

.hta-naung-yeik-facebook-page {
    width: 100%;
    height: auto;
}