.menu-page {
    background: #17322e;
    min-height: 200vh;
}

.menu-title {
    text-align: center;
    font-weight: 450;
    margin-bottom: 50px;
    font-size: 45px;
}

.menu-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "weekly-menu"
                         "daily-menu";
    gap: 50px;
}

.menu-section {
    width: 100%;
    height: 630px;
    overflow: hidden;
    font-family: "Noto Serif Display";
}

.weekly-special-page {
    grid-area: "weekly-menu";
    background: linear-gradient(90deg, #fb5c00, goldenrod);
}

.weekly-special-full-menu {
    float: left;
}

.weekly-menu-image {
    float: left;
    margin-right: 15px;
    width: 325px;
    height: auto;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}

.weekly-dish-text {
    font-weight: 450;
    font-size: 40px;
}

.weekly-menu {
    font-weight: 450;
    color: black;
    font-size: 70px;
    margin-right: 100px;
}

.daily-special-page {
    grid-area: "daily-menu";
    background: linear-gradient(90deg, goldenrod, #fb5c00);
    flex-direction: row-reverse;
}

.daily-special-full-menu {
    float: right;
}

.weekly-special-full-menu, .daily-special-full-menu {
    height: 580px;
    margin: 15px;
    width: auto;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.daily-menu-images-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
    width: 1035px;
}

.daily-menu-image {
    width: 200px;
    height: auto;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.6s ease;
}

.daily-menu-image:hover {
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}

.weekly-menu-text, .daily-menu-text {
    color: black;
    font-size: 30px;
    margin-top: 12px;
}