.menu-page {
    background: #17322e;
    min-height: 200vh;
}

.menu-title {
    text-align: center;
    font-weight: 450;
    margin-bottom: 50px;
    font-size: 45px;
}

.menu-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "weekly-menu"
                         "daily-menu";
    gap: 50px;
}

.menu-section {
    width: 100%;
    height: 620px;
    overflow: hidden;
    font-family: "Noto Serif Display";
}

.weekly-special-page {
    grid-area: "weekly-menu";
    background: linear-gradient(90deg, #17322e, gold);
}

.weekly-special-full-menu {
    float: left;
}

.weekly-menu-image {
    float: left;
    margin-right: 15px;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.weekly-dish-text {
    font-weight: 450;
    font-size: 40px;
}

.weekly-menu {
    font-weight: 450;
    color: black;
    font-size: 70px;
    margin-right: 100px;
}

.daily-special-page {
    grid-area: "daily-menu";
    background: linear-gradient(90deg, gold, #17322e);
    flex-direction: row-reverse;
}

.daily-special-full-menu {
    float: right;
}

.weekly-special-full-menu, .daily-special-full-menu {
    height: 580px;
    margin: 15px;
    width: auto;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.weekly-menu-text, .daily-menu-text {
    color: black;
    font-size: 30px;
}